.main {
    width: auto;
    height: auto;
    margin: 10px;
    box-shadow: inset;
    padding: auto;
    border-radius: 15px;
}
.main .content {
    padding: 15px;
    background-color: antiquewhite;
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
    align-content: center;
    align-items: center;
}