<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #85ccff; border-radius: 15px;">
  <a class="navbar-brand" href="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="list" class="nav-link"> 
          List Product
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- <mat-list>
    <mat-list-item>
        <a href="home">Home</a>
    </mat-list-item>
    <mat-list-item>
        <a href="create">Add Product</a>
    </mat-list-item>
    <mat-list-item>
        <a href="list">List Products</a>
    </mat-list-item>
</mat-list> -->
