h2 {
    justify-content: center;
}
table {
    background-color: beige;
    border-radius: 25px;
}

.btn {
    border-radius: 15px;
    margin-right: 5px;
}
img {
    width: 100px;
    height: auto;
}