footer {
    height: 100px;
    background-color: rgb(32, 32, 32);
}
.above {
    height: 67%;
    background-color: rgb(87, 87, 87);
    line-height: 100%;
}
.under {
    text-align: center;
    line-height: 33px;
}
p {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}